@mixin bg($name,$bg) {  
  background: url("../images/#{$name}.#{$bg}");
  width: image-width("../images/#{$name}.#{$bg}");  
  height: image-height("../images/#{$name}.#{$bg}");  
}
@mixin text-hide {
  white-space: nowrap;  
  text-indent: 100%;  
  overflow: hidden;
}